<h1 style="text-align: center">{{title}}</h1>
<mat-card>
    <mat-form-field>
      <input matInput placeholder="Name" dividerColor="accent" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field class="pd-left">
        <input matInput placeholder="Age" dividerColor="accent" [(ngModel)]="age">
      </mat-form-field>

      <mat-form-field class="pd-left">
        <input matInput placeholder="RollNo" dividerColor="accent" [(ngModel)]="rollno">
      </mat-form-field>

      <mat-form-field class="pd-left">
        <input matInput placeholder="Section" dividerColor="accent" [(ngModel)]="sec">
      </mat-form-field>

        <button mat-raised-button color="primary" class="pd-left" (click)="addStudent()">Add Student</button>
  </mat-card>

    <mat-table #myTable [dataSource]="myDataSource" *ngIf="myDataSource.data.length && !editComp">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;" > {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.age}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rollno">
        <mat-header-cell *matHeaderCellDef> Roll no </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.rollno}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sec">
        <mat-header-cell *matHeaderCellDef> Section </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.sec}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
             <app-edit [data]="row"></app-edit> 
        </mat-cell>
      </ng-container> 
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
