<h1 style="text-align: center">{{title}}</h1>
<mat-card>
    <mat-form-field>
      <input matInput placeholder="Name" dividerColor="accent" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field class="pd-left">
        <input matInput placeholder="Age" dividerColor="accent" [(ngModel)]="age">
      </mat-form-field>

      <mat-form-field class="pd-left">
        <input matInput placeholder="RollNo" dividerColor="accent" [(ngModel)]="rollno">
      </mat-form-field>

      <mat-form-field class="pd-left">
        <input matInput placeholder="Section" dividerColor="accent" [(ngModel)]="sec">
      </mat-form-field>

        <button mat-raised-button color="primary" class="pd-left" (click)="addStudent()">Add Student</button>
  </mat-card>


  <mat-card *ngIf="students.length" style="margin-top: 50px">
    <mat-list >
      <mat-list-item *ngFor="let std of students; let i = index" >
        <button mat-raised-button class="primary"></button>
        <label for="">Name</label>
        <p class="item">{{std.name}}</p><br>
        <p class="item">{{std.age}}</p>
        <p class="item">{{std.rollno}}</p>
        <p class="item">{{std.sec}}</p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>